@import './bootstrap/bootstrap';

.featured-container {
  .featured-img:hover, .card:hover {
    cursor: pointer;
    .card-title {
      text-decoration: underline;
    }
  }
}

.badge-secondary {
  background-color: $gray-300;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-size: 0.8rem;
  color: $gray-900;
}

.post-title-card {
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);

  .card-body {
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.20);
  }
}

.post-container {
  img {
    // transition: 0.3s;
    box-shadow:
      0 4.4px 6.4px rgba(0, 0, 0, 0.51),
      0 7.3px 17.8px rgba(0, 0, 0, 0.202),
      0 14px 20px rgba(0, 0, 0, 0.15)
    ;

  }

  &:hover {
    cursor: pointer;
    img {
      // transform: translateY(-10px);
      // box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.45);
    }

    .card-title {
      text-decoration: underline;
    }
  }
}

.post-share-link {
  color: inherit;
}

// .card-shadow:hover {
//   box-shadow: 0px 10px 24px 5px rgba(0,0,0,0.44);
// }
